html,
body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.action-icon {
  width: 75%;
}

.cursor-pointer {
  cursor: pointer;
}
