html,
body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.action-icon {
  width: 75%;
}

.cursor-pointer {
  cursor: pointer;
}
